@{
    ViewBag.Title = "AdminPage";
}
<div class=" d-flex justify-content-center">
    <h1 class="fw-bold">Pagina di Amministrazione</h1>
</div>

<h3 class="mt-5">Benvenuto Amministratore</h3>

<p class="fst-italic">
    Benvenuto nel pannello di amministrazione della nostra pizzeria. Qui puoi gestire varie funzioni e impostazioni per assicurare un funzionamento efficiente e una deliziosa esperienza per i nostri clienti. Di seguito sono elencate alcune delle principali funzionalità disponibili:
</p>

<p class="fw-bold">Gestione del Menu:</p>

<p>
    Aggiungi, modifica o elimina pizze e altri prodotti offerti.
    Imposta prezzi, descrizioni e opzioni per personalizzare il menu.
    Monitora le scorte degli ingredienti e ricevi notifiche di rifornimento.
</p>
<p class="fw-bold">Gestione degli Ordini:</p>

<p>
    Visualizza e gestisci gli ordini in arrivo.
    Accetta, rifiuta o modifica gli ordini in base alle esigenze del cliente.
    Monitora lo stato di avanzamento degli ordini e invia notifiche agli chef.
</p>