@model Pizzeria.Models.Prodotti

@{
    ViewBag.Title = "Rimuovi dal Carrello";
}

<h2>Rimuovi dal Carrello</h2>

<p>Confermi di voler rimuovere @Model.Nome dal carrello?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Conferma</button>
    @Html.ActionLink("Annulla", "Index", "Carrello", new { area = "" }, new { @class = "btn btn-secondary" })
}
